body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#app{
  max-width: 600px;
  margin: 50px auto;
  background-color: #FBFBFB;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
  color: #333;
}

form{
  display: flex;
  margin-bottom: 20px;
  border-radius: 4px;
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button{
  padding: 10px;
  font-size: 16px;
  background-color: #ff8800;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child{
  border-bottom: none;
}

.completed{
  text-decoration: line-through;
  color: #888;
}

footer{
  text-align: center;
}
